<button>Hello</button>
<button mat-button>Hellow </button> <br>
<!--Bsic Button-->
<button mat-button>Save</button>
<button mat-button>Cancel</button>
<button mat-button>Delete</button> <br>
<!--Color button-->
<button mat-button color="primary"class="mr">Save</button>
<button mat-button color="accent" class="mr">Cancel</button>
<button mat-button color="warn" class="mr">Delete</button> <br><br><br><br>
<!--flat button-->
<button mat-flat-button color="primary" class="mr">Save</button>
<button mat-flat-button color="accent" class="mr">Cancel</button>
<button mat-flat-button color="warn" class="mr">Delete</button> <br><br><br>v
<!--Raised button-->

<button mat-raised-button color="primary" class="mr">Save</button>
<button mat-raised-button color="accent" class="mr">Cancel</button>
<button mat-raised-button color="warn" class="mr">Delete</button> <br><br><br>
<!--Strokes button-->
<button mat-stroked-button color="primary" class="mr">Save</button>
<button mat-stroked-button color="accent" class="mr">Cancel</button>
<button mat-stroked-button color="warn" class="mr">Delete</button> <br><br><br>
<!--disabled ripple button-->

<button mat-stroked-button color="primary" disableRipple class="mr">Save</button>
<button mat-stroked-button color="accent" disableRipple class="mr">Cancel</button>
<button mat-stroked-button color="warn" disableRipple class="mr">Delete</button> <br><br><br><br>

<!--icon button-->

<button mat-icon-button color="primary" class="mr">Save</button>
<button mat-icon-button color="accent" class="mr">Cancel</button>
<button mat-icon-button color="warn" class="mr">Delete</button> <br><br><br><br>

<!--https://fonts.google.com/icons                      -->
<!--MatIcon-->
<button mat-icon-button color="primary" class="mr">
    <mat-icon>save</mat-icon>
</button>
<button mat-icon-button color="accent" class="mr"><mat-icon>cancel</mat-icon></button>
<button mat-icon-button color="warn" class="mr"><mat-icon>delete</mat-icon></button> <br><br><br><br>

<div class="mb">

    <!--matFAB-->
<button mat-fab color="primary" class="mr">
    <mat-icon>save</mat-icon>
</button>
<button mat-fab color="accent" class="mr"><mat-icon>cancel</mat-icon></button>
<button mat-fab color="warn" class="mr"><mat-icon>delete</mat-icon></button> <br><br><br><br>
</div>


<!--mat-MINI-FAB-->
<div class="mb">
<button mat-mini-fab color="primary" class="mr">
    <mat-icon>save</mat-icon>
</button>
<button mat-mini-fab color="accent" class="mr"><mat-icon>cancel</mat-icon></button>
<button mat-mini-fab color="warn" class="mr"><mat-icon>delete</mat-icon></button> <br><br><br><br>
</div>