<p>booking works!</p>
<!--floatLabel="auto"/"always"never-->
<!--hideRequiredMarker -< to hide * symbol-->
<!--align="end"/"start"(default)-->
<h3>New Booking</h3>
<mat-form-field class="w-100" floatLabel="auto" appearance="standard">
    <input type="text" matInput placeholder="Enter Customer Name" required="required" />
    <mat-label>Customer Name</mat-label>
    <mat-hint align="end">Up to 40 characters</mat-hint>
</mat-form-field>

<mat-form-field class="w-100" floatLabel="auto" appearance="legacy">
    <input type="text" matInput  required="required" />
    <mat-label>Phone Number</mat-label>
    <mat-icon matPrefix>call</mat-icon>
    <mat-hint align="end">10 digit phone number</mat-hint>
</mat-form-field>

<mat-form-field class="w-100" floatLabel="auto" appearance="fill" color="primary">
    <input type="text" matInput placeholder="Enter Email id" required="required" />
    <mat-label>Email-id</mat-label>
    <mat-icon matPrefix>email</mat-icon>

</mat-form-field>

<mat-form-field class="w-100" floatLabel="auto" appearance="outline">
    <input type="text" matInput placeholder="Enter Customer Name" required="required" />
    <mat-label>Customer Name</mat-label>
    <mat-hint align="end">Up to 40 characters</mat-hint>
</mat-form-field>