<p>booking works!</p>
<!--floatLabel="auto"/"always"never-->
<!--hideRequiredMarker -< to hide * symbol-->
<!--align="end"/"start"(default)-->
<h3>New Booking</h3>
<mat-form-field class="w-100" floatLabel="auto" appearance="standard">
    <input type="text" matInput placeholder="Enter Customer Name" required="required" />
    <mat-label>Customer Name</mat-label>
    <mat-hint align="end">Up to 40 characters</mat-hint>
</mat-form-field>

<mat-form-field class="w-100" floatLabel="auto" appearance="legacy">
    <input type="text" matInput required="required" />
    <mat-label>Phone Number</mat-label>
    <mat-icon matPrefix>call</mat-icon>
    <mat-hint align="end">10 digit phone number</mat-hint>
</mat-form-field>

<mat-form-field class="w-100" floatLabel="auto" appearance="fill" color="primary">
    <input type="text" matInput placeholder="Enter Email id" required="required" />
    <mat-label>Email-id</mat-label>
    <mat-icon matPrefix>email</mat-icon>
</mat-form-field>

<mat-form-field class="w-100" floatLabel="auto" appearance="outline">
    <input type="text" matInput placeholder="Enter Customer Name" required="required" />
    <mat-label>Customer Name</mat-label>
    <mat-hint align="end">Up to 40 characters</mat-hint>
</mat-form-field>


<mat-form-field floatLabel="auto" class="w-100"appearance="standard">
    <mat-select required="required">
        <mat-option value="Kashmir">Kashmir</mat-option>
        <mat-option value="Jammu">Jammu</mat-option>
        <mat-option value="Amritsar">Amritsar</mat-option>
        <mat-option value="Mumbai">Mumbai</mat-option>
        <mat-option value="Varanasai">Varanasai</mat-option>
        <mat-option value="Kerala">Kerala</mat-option>
        <mat-option value="Delhi">Delhi</mat-option>
        <mat-option value="Chennai">Chennai</mat-option>
        <mat-option value="Jaipur">Jaipur</mat-option>
    </mat-select>
    <mat-label>Country</mat-label>
    <mat-hint align="end">Choose a county</mat-hint>
    <mat-icon matPrefix>place</mat-icon>
</mat-form-field> <br>